
body {
    background: #eee;
    font-family: Verdana;
    color: #888;
    text-shadow: #fff 1px 1px;
}
body > div {
    width: 800px;
    margin: auto;
    text-align: center;
}

span.block {
    width: 400px;
    float: left;
    text-align: left;
    margin-bottom: 20px;
}

span.block-wide {
    width: 800px;
}

h3 > span {
    font-size: 150%;
    position: relative;
    top: 3px;
    color: #555;
}

#rss-input {
    width: 300px;
}

input, select {
    font-size: 100%;
    color: #000;
    text-shadow: #fff 0px 0px 1px;
    border: 1px solid #aaa;
    border-radius: 3px;
    background-color: #ddd;
}

input:hover {
    background-color: #e8e8e8;
    border: 1px solid #bbb;
}

select {
    font-size: 80%;
}

input#shutdown {
    font-size: 100%;
    color: #a55;
}

div#canvas3d {
    width: 400px;
    height: 400px;
    border: 1px solid #aaa;
    background: #d8d8d8;
    border-radius: 10px;
    -webkit-perspective: 500;
    position: relative;
    overflow: hidden;
}

@-webkit-keyframes mozogg {
    from {
        -webkit-transform: rotateX(60deg) rotateZ(20deg) rotateY(-10deg);
    }
    to {
        -webkit-transform: rotateX(60deg) rotateZ(20deg) rotateY(10deg);
    }
}

div#canvas3d-roflcopter {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50px;
    left: 50px;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-animation-name: mozog;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 200;
    -webkit-animation-direction: alternate;
}

div#canvas3d-roflcopter-x-axis {
    width: 20px;
    height: 300px;
    left: 140px;
    top: 0px;
    background-color: #555;
    position: absolute;
}

div#canvas3d-roflcopter-y-axis {
    width: 300px;
    height: 20px;
    top: 140px;
    left: 0px;
    background-color: #555;
    position: absolute;
}

#gyro-canvas {
    border: 1px solid #aaa;
    border-radius: 10px;
}

div#canvas3d-coord-system {
    width: 400px;
    height: 400px;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(60deg) rotateZ(20deg);
}
div#canvas3d-coord-system-x {
    width: 1px;
    height: 400px;
    left: 200px;
    top: 0px;
    background-color: #00c;
    position: absolute;
}
div#canvas3d-coord-system-y {
    width: 400px;
    height: 1px;
    top: 200px;
    left: 0px;
    background-color: #00c;
    position: absolute;
}

div#engines {
    position: relative;
    width: 100px;
    height: 200px;
}

progress.engine {
    position: absolute;
    width: 200px;
    height: 20px;
    -webkit-transform: rotateZ(-90deg);
    -webkit-transform-origin: 0% 0%;
}

progress#engine1 {
    top: 200px; left: 0px;
}

progress#engine2 {
    top: 200px; left: 30px;
}

progress#engine3 {
    top: 200px; left: 60px;
}

progress#engine4 {
    top: 200px; left: 90px;
}

div#rxs {
    position: relative;
    width: 100px;
    height: 200px;
}

progress.rx {
    position: absolute;
    width: 200px;
    height: 20px;
    -webkit-transform: rotateZ(-90deg);
    -webkit-transform-origin: 0% 0%;
}

progress#rx1 {
    top: 200px; left: 0px;
}

progress#rx2 {
    top: 200px; left: 30px;
}

progress#rx3 {
    top: 200px; left: 60px;
}

progress#rx4 {
    top: 200px; left: 90px;
}

div#gyros {
    position: relative;
    width: 100px;
    height: 200px;
}

progress.gyro {
    position: absolute;
    width: 200px;
    height: 20px;
    -webkit-transform: rotateZ(-90deg);
    -webkit-transform-origin: 0% 0%;
}

progress#gyro1 {
    top: 200px; left: 0px;
}

progress#gyro2 {
    top: 200px; left: 30px;
}

progress#gyro3 {
    top: 200px; left: 60px;
}

progress#gyro4 {
    top: 200px; left: 90px;
}

#bootload {
    width: 150px;
    height: 60px;
    border: 2px dashed #aaa;
    border-radius: 10px;
    text-align: center;
}

#bootload-title {
    padding: 5px;
}

#bootload-progress {
    height: 20px;
    width: 130px;
}

#bootload-status {
    font-size: 80%;
    color: #f55;
}


#hkrx-canvas, #hkrx-canvas2 {
    border: 1px solid #555;
}